/* @import 'normalize.css';
.body{
  height: 100vh;
} */

.App {
  text-align: center;
  background-color: #FAFAFA;
  font-family: 'Nunito Sans', sans-serif;
  height: 100vh;
}

.transparent {
  background-color: transparent !important;
}
.bg-gradient:hover {
      transform: translateY(-5px);
      box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.4);}


.card-text{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
  color: #41444b;
  word-wrap: "break-word";
  overflow-wrap: "break-word";
}
.card{
  word-wrap: break-word;
}

.btn-primary{
  background-color: #55BB8E !important;
  border-color: #55BB8E !important;
}

/* .card-body:hover{
  box-shadow: 1px 1px 5px 5px #dee4e0;
} */

.searchWrapper{
  background-color: white;
}

.react-datepicker__view-calendar-icon input{
  border-radius: 5px;
  border: solid 0.5px rgb(195, 190, 190) !important;
  color: gray;

}

.react-calendar{
  border-radius: 5px;
  border : none !important;
  background: whitesmoke !important;
  font-family: 'Nunito Sans', sans-serif !important;
  font-size: small !important;
}
.react-calendar__tile--active{
  background:#55BB8E !important;
  border-radius: 50px !important;

}
.react-calendar__navigation button {
  min-width: 20px !important;
  background: none;
}

.colored-toast.swal2-icon-error {
  background-color: #f27474 !important;
}

.colored-toast .swal2-title {
  color: white;
}





/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.App-link {
  color: #61dafb;
}


